{% extends "form.html" %}

{% block result %}

{% if incorrect_time_range %}
<p class="red">Неизвестное значение времени для анализа. Выберите из подходящее из списка</p>
{% endif %}

{% if not match_start_city %}
<p class="red">Не можем найти город из которого вы едите(</p>

<p>Возможно это</p>

{% for city in start_cities %}
<p>{{city}}</p>
{% endfor %}
{% endif %}

{% if not match_end_city %}
<p class="red">Не можем найти город в который вы едите(</p>

<p>Возможно это</p>

{% for city in end_cities %}
<p>{{city}}</p>
{% endfor %}
{% endif %}
{% endblock %}